body {
	background-color: #76645a;
	color: #3a3a3a;
  	margin: 0 auto;
	max-width: 1038px;
}

h3 {
	color: #80a20e;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
}

a {
	color: #428bca;
}

a:focus,
a:hover {
	color: #428bca;
}

.jumbotron {
	background-color: inherit;
	text-align: center;
	padding: 0;
	color: #ffffff;
}

.jumbotron img {
	max-width: 50%;
}

.progress {
	height: 16px;
}
.progress-bar {
	background-color: #80a20e;
	width: 100%;
}

.close {
	font-size: 28px;
	line-height: inherit;
}

.navbar {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}
.navbar-brand {
	height: 66px;
	padding: 3px 10px 0 10px;
}
.navbar-brand img {
	width: 60px;
}
.navbar-btn {
	background-color: transparent !important;
	border: 0;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 24px 8px;
}
@media (min-width: 375px) {
	.navbar-btn {
		font-size: 18px;
		padding: 20px 8px;
	}
}
.navbar-btn.btn-default:hover,
.navbar-btn.btn-default:active,
.navbar-btn.btn-default:focus {
	font-weight: bold;
}
.navbar-btn .glyphicon {
	font-size: 14px;
}

.btn-toolbar .btn-group { 
	margin-bottom: 10px;
}

.btn-toolbar .btn {
	color: #999999;
	background-color: #e6e6e6;
}

.btn-toolbar .btn:hover,
.btn-toolbar .btn:focus,
.btn-toolbar .btn:active,
.btn-toolbar .btn.active {
	color: #999999;
}

.btn-toolbar .btn-primary {
	background-color: #738f0f;
	border-color: #738f0f;
	color: #ffffff;
}
.btn-toolbar .btn-primary:hover,
.btn-toolbar .btn-primary:focus,
.btn-toolbar .btn-primary:active,
.btn-toolbar .btn-primary.active {
	background-color: #738f0f;
	border-color: #738f0f;
	color: #ffffff;
}
.btn-toolbar .badge {
    color: #999999;
    background-color: #ffffff;
}
.btn-toolbar .btn-primary .badge {
    color: #3a3a3a;
    background-color: #ffffff;
}

.btn-help:after {
	content: " HELP";
}
.btn-login:after {
	content: " LOGIN";
}
.btn-map:after {
	content: " MAP";
}
.authenticated .btn-login {
	color: #f1f1f1;
}
.authenticated .btn-login:after {
	content: " LOGOUT";
}

.btn-untappd {
	background-color: #ffcc00;
	color: #ffffff;
	font-weight: bold;
}
.btn-untappd:hover,
.btn-untappd:focus,
.btn-untappd:active,
.btn-untappd.active {
	background-color: #e6b800;
	border-color: #e6b800;
}

.btn-inline {
	margin-top: -4px;
	padding: 0 5px;
}

.input-clear {
	bottom: 0;
	color: #333;
	cursor: pointer;
	font-size: 14px;
	height: 31px;
	line-height: 33px;
	margin: auto;
	opacity: 0.4;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 31px;
	z-index: 2;
}

.input-clear:hover,
.input-clear:focus {
	opacity: 1;
}

.badge {
	background-color: #80a20e;
}

.panel-primary {
	border: none;
	border-top: solid 12px #80a20e;
}

.panel-primary > .panel-heading {
	background-color: #ffffff;
	border-color: #f1f1f1;
}

.panel-title {
	color: #80a20e;
	font-size: 26px;
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

#view-table table th {
	cursor: pointer;
}

#view-table table th span.heading {
	border-bottom: dashed 1px #428bca;
}

#view-table table th span.glyphicon {
	color: #428bca;
	font-size: 10px;
}

#view-table .table > tbody > tr > td {
	padding: 10px 8px;
}

#view-table table td > div {
	max-width: 200px;
	min-width: 100px;
	white-space: normal;
}

.rating-disabled {
	cursor: initial;
}

.rating-xs {
	font-size: 1.75em;
}

.rating-container {
	color: rgba(51, 51, 51, 0.4);
}

.rating-container .rating-stars {
	color: #ffcc00;
}

.beerLabel {
	float: right;
	margin: 0 0 5px 10px;
	max-width: 100px;
}

.beerSearch {
	cursor: pointer;
}

.attribution {
	color: #eae1aa;
	padding-bottom: 15px;
}
.attribution a {
	color: #ffd657;
}

a.topscroller {
	background-color: #80a20e;
	border-radius: 3px;
	bottom: 20px;
	color: #ffffff;
	height: 38px;
	opacity: 0;
	padding: 10px 12px;
	position: fixed;
	right: 20px;
	visibility: hidden;
	width: 38px;
	z-index: 999;
	-webkit-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
}
a.topscroller.active {
	opacity: 0.5;
	visibility: visible;
}
a.topscroller.active:hover {
	opacity: 1;
}

.appicon {
	border: solid 1px #666;
	border-radius: 20px;
	display: block;
	height: auto;
	margin: 0 auto;
	width: 120px;
}
