<div id="view-table">
    <div data-ng-repeat="beerList in vm.beersList" data-ng-hide="beerList.beers.length === 0" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{beerList.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-xs"
                            data-ng-class="{'btn-primary': vm.currentDay === vm.day1}"
                            data-ng-click="vm.currentDay = vm.day1; vm.vip = false; vm.guild = false;">
                        <span class="btn-text"></span>{{vm.day1.label}} <span class="badge">{{vm.day1.badge}}</span>
                    </button>
                    <button class="btn btn-xs hide"
                            data-ng-class="{'btn-primary': vm.vip}"
                            data-ng-click="vm.currentDay = vm.day1; vm.vip = !vm.vip;">
                        <span class="btn-text">Backstage Pass</span> <span class="badge">VIP</span></span>
                    </button>
                </div>
                <div class="btn-group hide" role="group" aria-label="...">
                    <button class="btn btn-xs"
                            data-ng-class="{'btn-primary': vm.currentDay === vm.day2}"
                            data-ng-click="vm.currentDay = vm.day2; vm.vip = false;">
                        <span class="btn-text">{{vm.day2.label}}</span> <span class="badge">{{vm.day2.badge}}</span>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-xs"
                            data-ng-class="{'btn-primary': vm.vip}"
                            data-ng-click="vm.currentDay = ''; vm.vip = true; vm.guild = false;">
                        <span class="btn-text">Bulls Head Tap Trailer</span></span>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-xs"
                            data-ng-class="{'btn-primary': vm.guild}"
                            data-ng-click="vm.currentDay = ''; vm.vip = false; vm.guild = true;">
                        <span class="btn-text">Brewer's Guild</span></span>
                    </button>
                </div>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">{{filteredBeers.length}}</span>
                <input type="text" class="form-control" data-ng-model="searchFilter" placeholder="Filter..."/>
                <span class="input-clear glyphicon glyphicon-remove" data-ng-click="searchFilter = ''" data-ng-class="{'hidden': !searchFilter}"></span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th data-ng-repeat="heading in vm.headings" data-ng-click="vm.changeSorting(beerList.sort, heading.column)">
                            <span class="heading">{{heading.display}}</span>
                            <span class="glyphicon" data-ng-class="vm.sortClass(beerList.sort, heading.column)"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="beerSearch"
                        data-ng-repeat="beer in filteredBeers = 
                            (beerList.beers | 
                             filter: (vm.vip ? ({'pod': 'bh', $: searchFilter}) : (vm.guild ? ({'pod': 'bg', $: searchFilter}) : ({'day': vm.currentDay.day, $: searchFilter}))) |
                             orderBy: [beerList.sort.column, 'brewery', 'name'] : beerList.sort.descending)"
                        data-ng-click="vm.search(beer)">
                        <td><span class="badge">{{beer.pod}}</span></td>
                        <td>
                            <div><b>{{beer.name}}</b></div>
                            <div><small><i>{{beer.addl}}</i></small></div>
                        </td>
                        <td><div>{{beer.brewery}}</div></td>
                        <td><div>{{beer.style}}</div></td>
                        <td><span>{{beer.abv | number : 2}} {{beer.abv ? '%' : '-'}}</span></td>
                        <td><span>{{beer.ba ? beer.ba : '-'}}</span></td>
                    </tr>
                    <tr data-ng-hide="filteredBeers.length">
                        <td colspan="5" data-no-results>{{beerList.timestamp | date: 'short'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <data-footer-timestamp>{{beerList.timestamp | date: 'short'}}</data-footer-timestamp>
        </div>
    </div>
</div>
<data-loading-overlay data-ng-show="vm.isSearching"></data-loading-overlay>
