<div class="modal fade" id="help-modal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title">HELP</h3>
            </div>
            <div class="modal-body">
                <p>
                    <b>Untappd Integration</b><br>Tap a beer to view additional information about the beer from Untappd.
                </p>
                <p>
                    Login and authorize this application to view personalized information about the beer from Untappd. When logged in, your personal rating and number of checkins for the beer are displayed.
                    <br><small>note: The login feature uses the OAuth standard from the Untappd API, which means this app never has access to or sees your credentials.</small>
                </p>
                <p>
                    Tap the <button class="btn btn-untappd btn-inline">Check-In <span class="glyphicon glyphicon-ok"></span></button>
                    button to launch the Untappd app or Untappd website directly to the beer.
                </p>
                <hr>

                <p>
                    <b>Filtering</b><br>The festival spans two days with a different list on each day. Additionally, the 
                    <a href="https://lititzcraftbeerfest.com/backstage-pass-beer-list/" taret="_blank">Bulls Head Backstage Pass</a> beer list contains exclusive offerings available only to pass holders.
                    Use the toggle buttons to filter to either day or the Backstage Pass.
                </p>
                <p>
                    Enter filter criteria at the top of the beer list. All fields are immediately filtered upon as you type.
                    For example, type "IPA" and any beer name or style containing "IPA" will be found. The number of beers matching the current
                    filter criteria is reflected in the number next to the filter input.
                </p>
                <hr>

                <p><b>Shortcut</b><br>If your mobile device's browser is equipped with an "add to homescreen"-like feature, you can utilize it to gain a quick launch icon to this app.</p>
                <img class="appicon" src="img/apple-touch-icon.png">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
