<div class="modal fade" id="map-modal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title">MAP</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <a href="/img/LCBF-map-20220924.png" target="_blank">
                                <img src="/img/LCBF-map-20220924.png" alt="Lititz Craft Beer Festival Map Saturday 9/24">
                            </a>
                            <div class="caption text-center">Saturday 9/24</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <a href="/img/LCBF-map-20220925.png" target="_blank">
                                <img src="/img/LCBF-map-20220925.png" alt="Lititz Craft Beer Festival Map Sunday 9/25">
                            </a>
                            <div class="caption text-center">Sunday 9/25</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
